<div class="row" id="gameview" ng-show="game.playing">
  <h1>{{game.colorPrompt}}</h1>

  <h3 ng-if="game.messageText != ''" class="alert alert-warning">{{game.messageText}}</h3>

  <div id="button-container">
    <div class="color-button" ng-repeat="color in game.colors" ng-style="{background: color}" ng-click="game.handleInput(color)"></div>
  </div>
</div>

<div id="highScoreContainer" ng-hide="game.playing">
  <p>You scored {{game.correctCount}}! Save your score!</p>
  <input type="text" ng-model="game.highScore.name" name="text" class="form-control" ng-value="game.highScore.name"/>
  <button class="btn btn-default" ng-click="game.submitScore(color)">Save Score</button>
</div>
